<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean 
		id="registrador" 
		class="es.anderconal.modelo.Registrador"
		autowire="byType">
	</bean>
	
	<bean id="escritorArchivo"
		class="es.anderconal.modelo.EscritorArchivo">
	</bean>
	<bean id="escritorConsola"
		class="es.anderconal.modelo.EscritorConsola">
	</bean>
</beans>
